body,figure{
	padding: 0px;
	margin: 0px;
}

div[class="nice"]{
	width:500px;

}

figure{
	position: relative;
	cursor: pointer;
	display: block;
}

figcaption div{
	position: absolute;
	top: 290px;
	color: lightgray;
	font-size: 25px;
	background-color: rgba(0,0,0,0.5);
	text-align: center;
	margin-left:430px;
	left: 430px;

	-webkit-transition: all 1s;
	-webkit-transition-delay: .2s;
}

figcaption h2{
	text-align: center;
	background-color: lightblue;
	position: absolute;
	top: -15px;
	color: white;
	font-size: 40px;
	background-color: black;
	text-align: center;
	width: 100%;
	padding: 6px;
	right: 100%;

	-webkit-transition: all 1s;
}

figcaption{
	opacity: 0;
	-webkit-transition: all 1s;
	-webkit-transition-delay: .5s;

}

figure:hover figcaption{
	opacity: 1;
}

figure:hover img{
	-webkit-transform: scale(1.06);
}

img{
	-webkit-transition: all 0.3s ease-in;
}

figure:hover h2{
	right: 0;
}

figure:hover div{
	left: 0;
}

iframe{
	margin-left: 260px;
}

#kook{
	text-align: center;
	margin-top: 50px;
}

h1[id="kook"]:hover{
	font-size: 30px;
		color: white;

}

body{
	background-color: #123;
}

h2,h3{
	color: lightgray;
}


